.wrapper {
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	font-family: avenir, lato;
}
.intro {
	color: white;
	height: 100vh;
	width: 100%;
    color: white;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.top-info {
	position: absolute;
	width: 100%;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
 	-ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
}
.cover {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.cover img {
	position: absolute;
	height: 110%;
	top: -10px;
	left: -10px;
	filter: blur(5px);
}
#presents {
	margin-top: 0;
	margin-bottom: 10px;
}
#title {
	font-size: 70px;
}
#slogan {
	font-size: 35px;
	margin-bottom: 30px;
}
.info {
	margin: 10px;
	margin-top: 30px;
}
.top-button {
	padding: 10px 30px;
	width: 150px;
	border: 2px solid white;
	background-color: #A32F00;
	border-radius: 5px;
	transition: all 0.4s ease-in-out;
	margin: 20px 10px;
	text-decoration: none;
	color: white;
	font-size: 20px;
}

#apply-button:hover {
	background-color: rgba(255, 255, 255, 0.9);
	border-color: rgba(255, 255, 255, 0.1);
	color: #7F5040;

}
.schedule {
	padding: 100px 35px;
	color: black;
	background-color: white;
}
.day {
	color: #A32F00;
	font-weight: bold;
}
.location {
	color: #6F2F11;
	font-weight: bold;
	padding-bottom: 10px;
}
.schedule p {
	font-size: 16px;
}
th {
	padding: 5px 30px;
}
table {
	margin: auto;
}
.workshops {
	padding: 100px 10px;
	color: white;
}
.ws-inner {
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 20px 30px;
	margin: 10px;
	transition: .3s;
	min-height: 400px;
}
.ws-inner:hover {
	transform: scale(1.01);
}
.ws-outer {
	margin: 20px;
}
.workshop-images {
	height: 100px;
	padding-bottom: 20px;
}
.prizes h1 {
	color: #6F2F11;
	font-weight: bold;
	margin-bottom: 40px;
}

.prizes {
	height: 600px;
	background-color: #fafafa;
	padding: 100px 20px;
	border: 1px solid #ddd;
	background-color: white;
}

.p-inner:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
					0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.p-inner {
	padding: 15px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	color: black;
	background-color: white;
	transition: 0.2s;
}
.footer {
	padding: 100px 10px;
	padding-bottom: 300px;
	background-color: #550401;
	color: white;
}

.final-fight-on {
	font-size: 80px;
}
.link-icons {
	height: 50px;
	transition: .5s;
}
.link-icons:hover {
	transform: scale(1.05);
}

@media only screen and (max-width: 500px) {
    #title {
        font-size: 40px;
    }
    #slogan {
    	font-size: 25px;
    }
    #apply-button {
    	font-size: 18px;
    	padding: 10px 20px;
    }
}
